body {
    font-weight: 300;
}

a:focus,
a:hover {
    text-decoration: none;
}

pre {
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
    margin-top: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
