.help-container .help-block,
.help-container img {
    display: inline-block;
}

.help-container img {
    cursor: pointer;
}

.help-container .empty-background {
    margin-left: -3px;
}

@media screen and (max-width:424px) {
    .help-container .empty-background {
        display: none;
    }
}
