.help-container .help-block,
.help-container img {
    display: inline-block;
}

.help-container img {
    cursor: pointer;
}

.help-container .empty-background {
    margin-left: -3px;
}

@media screen and (max-width:767px) {
    .help-container .help-block,
    .help-container img {
        margin-bottom: 0;
    }
    .help-container .empty-background {
        margin-left: 0;
        margin-top: 0;
    }
}
