input,
.form-control,
.ui-select-multiple.ui-select-bootstrap {
    border-radius: 0;
    padding: 2px 5px;
}

.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 100%;
}

.input-group input[type=file] {
    display: none;
}

.input-group input[type=text] {
    left: 136px;
    pointer-events: none;
    position: absolute;
    width: calc(100% - 136px);
}

.input-group .input-group-btn {
    cursor: pointer;
    font-size: 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.initial-input-container {
    margin: 0 15px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    border-radius: 20px;
}
