<div ng-if="!vm.hasFinishedLoading || isLoading" class="waiting-giff loading">
    <!-- <div class="loader" title="Cargando...">Cargando...</div> -->
    <div class="loading-title">
        <h4>Cargando...</h4>
    </div>
    <div class="sk-cube-grid" title="Cargando...">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div class="container">
    <form name="form">
        <div class="help-container">
            <span class="help-block">Carga un archivo con extension .json o .txt en un formato valido</span>
            <button type="button" title="Ayuda" class="empty-background" ng-click="vm.showPopUp($event)">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
        </div>
        <div class="help-dialog" id="helpPopup">
            <div class="close-popup">
                <button type="button" title="Cerrar" class="empty-background" ng-click="vm.closePoUp()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <span class="dialog-title">Ejemplo de JSON valido:</span>
            <div class="dialog-message">
                <pre>{$ vm.jsonExample | json $}</pre>
            </div>
        </div>
        <div class="initial-input-container">
            <div class="form-group col-sm-10" ng-class="{ 'has-error' : (form.$invalid && form.file.$touched) || vm.hasErrors, 'has-success': form.$valid && !vm.hasErrors && vm.initialJson }">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Cargar Archivo
                        </span>
                        <input type="file" accept=".json,.txt" custom-on-change="vm.uploadFile" ng-model="vm.currentFile">
                    </label>
                    <input type="text" class="form-control" ng-model="vm.currentFile.name" readonly>
                </div>
            </div>
            <div class="form-group col-sm-2 text-right sm-center">
                <button type="button" class="btn btn-danger" ng-click="vm.clearFile(vm.initialJson)" ng-disabled="!vm.currentFile">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar Archivo
                </button>
            </div>
        </div>
    </form>
    <div class="model-container">
        <div class="form-group">
            <h4>Atributos:</h4>
            <div class="help-container">
                <span class="help-block">Los atributos se componen de caracteres alfanuméricos, sin espacios, y se recomienda que vayan en minúscula</span>
            </div>
            <div class="atributo-container">
                <ui-select multiple ng-model="vm.initialJson.atributos" theme="bootstrap" tagging tagging-label="" on-select="vm.replaceNonAlphaNumeric($item)" sortable="true">
                    <ui-select-match placeholder="Agregar atributos al modelo">{$ $item $}</ui-select-match>
                    <ui-select-choices repeat="atributo in vm.atributos | filter:$select.search">
                        {$ atributo $}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <h4>Dependencias:</h4>
        </div>
        <div class="dependencies-container">
            <div class="dependecy-container" ng-repeat="dependencia in vm.initialJson.dependencias">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Implicante</label>
                        <ui-select multiple ng-model="dependencia.implicante" theme="bootstrap" sortable="true">
                            <ui-select-match placeholder="Seleccionar Atributos">{$ $item $}</ui-select-match>
                            <ui-select-choices repeat="atributo in vm.initialJson.atributos | filter:$select.search">
                                {$ atributo $}
                            </ui-select-choices>
                            <ui-select-no-choice>
                                No existe ninguna coincidencia en los atributos
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Implicado</label>
                        <ui-select multiple ng-model="dependencia.implicado" theme="bootstrap" sortable="true">
                            <ui-select-match placeholder="Seleccionar Atributos">{$ $item $}</ui-select-match>
                            <ui-select-choices repeat="atributo in vm.initialJson.atributos | filter:$select.search">
                                {$ atributo $}
                            </ui-select-choices>
                            <ui-select-no-choice>
                                No existe ninguna coincidencia en los atributos
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group text-right sm-center">
                    <button type="button" class="btn btn-danger" ng-click="vm.removeDependency($index)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar Dependencia
                    </button>
                </div>
            </div>
            <div class="form-group dependency-button sm-center">
                <button type="button" class="btn btn-success" ng-click="vm.addDependency()" ng-disabled="(!vm.initialJson.atributos || vm.initialJson.atributos.length === 0)">
                    <span class="glyphicon glyphicon-plus sm-center" aria-hidden="true"></span> Agregar Dependencia
                </button>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="!vm.solution.original">
        <h4>Modelo:</h4>
    </div>
    <div class="panel-group" id="accordion-initial" data-ng-init="vm.initPanel()" ng-if="!vm.solution.original">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a class="small" data-toggle="collapse" data-parent="#accordion-initial" href="#collapse-initial" role="button">JSON</a>
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></i>
                </h5>
            </div>
            <div id="collapse-initial" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{$ vm.initialJson | json $}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="form-group sm-center">
            <button type="button" class="btn btn-default" ng-click="vm.exportFile(vm.initialJson, 'modelo.json')" ng-disabled="!vm.initialJson || !vm.initialJson.dependencias || !vm.initialJson.atributos">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exportar relación actual a JSON
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.calculateMinimalCover(vm.initialJson)" ng-disabled="!vm.initialJson || !vm.initialJson.dependencias || !vm.initialJson.atributos || vm.initialJson.atributos.length === 0 || vm.initialJson.dependencias.length === 0">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Calcular Recubrimiento Mínimo
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.exportMinimalCover(vm.solution, 'recubrimiento.json')" ng-disabled="!vm.solution || !vm.solution.l3">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exportar recubrimiento mínimo a JSON
            </button>
        </div>
    </div>
    <div class="form-group" ng-if="vm.solution.original">
        <h4>Resultado:</h4>
    </div>
    <div class="panel-group" id="accordion" data-ng-init="vm.initPanel()" ng-if="vm.solution.original">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse1" role="button">Original JSON</a>
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></i>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{$ vm.solution.original | json $}</pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse2" role="button">L1</a>
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></i>
                </h5>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    {$ vm.transform(vm.solution.l1) $}
                    <pre>{$ vm.solution.l1 | json $}</pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse3" role="button">L2</a>
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></i>
                </h5>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    {$ vm.transform(vm.solution.l2) $}
                    <pre>{$ vm.solution.l2 | json $}</pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse4" role="button">L3 - Recubrimiento mínimo</a>
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></i>
                </h5>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    {$ vm.transform(vm.solution.l3) $}
                    <pre>{$ vm.solution.l3 | json $}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
