<div ng-if="!vm.hasFinishedLoading || isLoading" class="waiting-giff loading">
    <!-- <div class="loader" title="Cargando...">Cargando...</div> -->
    <div class="loading-title">
        <h4>Cargando...</h4>
    </div>
    <div class="sk-cube-grid" title="Cargando...">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div class="container">
    <div class="alert alert-danger" ng-if="vm.hasErrors">
        <strong>Ha ocuriddo un error al cargar el archivo {$ vm.currentFile.name $}: </strong>
        <span>{$ vm.errorMessage $}.</span>
    </div>
    <form name="form">
        <div class="help-container">
            <span class="help-block">Carga un archivo con extension .json o .txt en un formato valido</span>
            <img src="static/images/help.svg" alt="Ayuda" title="Ayuda" ng-click="vm.showPopUp($event)">
        </div>
        <div class="help-dialog" id="helpPopup">
            <div class="close-popup">
                <img src="static/images/close.svg" alt="Cerrar" ng-click="vm.closePoUp()" title="Cerrar">
            </div>
            <span class="dialog-title">Ejemplo de JSON valido:</span>
            <div class="dialog-message">
                <pre>{$ vm.jsonExample | json $}</pre>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (form.$invalid && form.file.$touched) || vm.hasErrors, 'has-success': form.$valid && !vm.hasErrors && vm.initialJson }">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Cargar Archivo <input type="file" accept=".json,.txt" custom-on-change="vm.uploadFile" ng-model="vm.currentFile">
                    </span>
                </label>
                <input type="text" class="form-control" ng-model="vm.currentFile.name" readonly>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="vm.calculateMinimalCover(vm.initialJson)" ng-disabled="!vm.initialJson">Calcular Recubrimiento Mínimo</button>
            <button type="button" class="btn btn-default" ng-click="vm.clearFile(vm.initialJson)" ng-disabled="!vm.initialJson">Borrar Archivo</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="vm.exportFile(vm.initialJson)" ng-disabled="!vm.initialJson">Exportar Archivo</button>
        </div>
    </form>
    <div class="panel-group" id="accordion" data-ng-init="vm.initPanel()" ng-if="vm.solution.original">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" role="button">Original JSON</a>
                    <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body"><pre>{$ vm.solution.original | json $}</pre></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" role="button">L1</a>
                    <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body"><pre>{$ vm.solution.l1 | json $}</pre></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" role="button">L2</a>
                    <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body"><pre>{$ vm.solution.l2 | json $}</pre></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" role="button">L3</a>
                    <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body"><pre>{$ vm.solution.l3 | json $}</pre></div>
            </div>
        </div>
    </div>
</div>
