{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Calculo del recubrimiento mínimo">
    <meta name="author" content="co-authored by Kevin Gutierrez, Alfonso Fernandez">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/css/alertify.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>AutomaticBD</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <h1>{{ projectName }}</h1>
        </div>
    </header>
    <main class="main" ng-view>
        <div ng-if="::false" class="waiting-giff">
            <!-- <div class="loader" title="Cargando...">Cargando...</div> -->
            <div class="loading-title">
                <h4>Cargando...</h4>
            </div>
            <div class="sk-cube-grid" title="Cargando...">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="copyright-container">
            <p class="copyright">Copyright © 2017 Kevin Gutierrez, Alfonso Fernandez. All Rights Reserved</p>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
    <script src="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
    <script src="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-sweetalert/1.1.2/SweetAlert.min.js"></script>
    <script src="{% static 'javascript/app/app.js' %}"></script>
    <script src="{% static 'javascript/app/config.js' %}"></script>
    <script src="{% static 'javascript/app/run.js' %}"></script>
    <script src="{% static 'javascript/app/controllers/main.js' %}"></script>
    <script src="{% static 'javascript/app/directives/customOnChange.js' %}"></script>
    <script src="{% static 'javascript/app/services/message.js' %}"></script>
    <script>
        window.exampleJson = "{% static 'resource/2.json' %}";
    </script>
</body>

</html>
