{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Calculo del recubrimiento mínimo">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" integrity="sha256-ungueNM7AC3np67X7MdpZlRH6Oxl6KyX2IXyDTm2D3w=" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/css/alertify.css">
    <link rel="stylesheet" href="{% static 'styles/vendor/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>AutomaticBD</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>{{ projectName }}</h1>
        </div>
    </header>
    <main ng-view>
        <div ng-if="::false" class="waiting-giff">
            <!-- <div class="loader" title="Cargando...">Cargando...</div> -->
            <div class="loading-title">
                <h4>Cargando...</h4>
            </div>
            <div class="sk-cube-grid" title="Cargando...">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </main>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
    <script src="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
    <script src="//cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>
    <script src="{% static 'javascript/vendor/sweetalert.min.js' %}"></script>
    <script src="{% static 'javascript/vendor/ngSweetAlert.min.js' %}"></script>
    <script src="{% static 'javascript/app/app.js' %}"></script>
    <script src="{% static 'javascript/app/config.js' %}"></script>
    <script src="{% static 'javascript/app/run.js' %}"></script>
    <script src="{% static 'javascript/app/controllers/main.js' %}"></script>
    <script src="{% static 'javascript/app/directives/customOnChange.js' %}"></script>
    <script src="{% static 'javascript/app/services/message.js' %}"></script>
</body>

</html>
